* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
 height: 100%;
 width: 100%;
 overflow-x: hidden;
}
/*navigation-bar-section*/

.navigation {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  padding: 18px;
  background-color: #675e5e;
  color: white;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  top: 0; /* Align it to the top */
  z-index: 1000; 
}
.navigation ul {
  list-style-type: none;
  display: flex;
  padding: 20;
  justify-content: space-between;
  align-items: center;
}
.navigation li {
  padding-right: 17px;
}

.navigation .left {
  display: flex;
  justify-content: space-between;
}
.navigation .right {
  display: flex;
  justify-content: flex-end;
}
.navigation ul li:hover {
  content: pointer;
  align-items: center;
  color: #3577E3;
}
.kg {
  font-size: 25px;
}

/*banner-section*/

.image-banner {  
  width: 100%;
  display: flex;
}
.photo-yurt .photo-mountain {
 flex: 1;
 background-position: center center;
}
.photo-yurt {
 background-image: url(resources/images/IMG_3667.JPG);
 height: 1000px;
 width: 100%;
 background-size: 100%;
 background-repeat: no-repeat;

}
.photo-mountain {
 background-image: url(resources/images/IMG_3690.JPG);
 height: 1000px;
 width: 100%;
 background-size: 100%;
 background-repeat: no-repeat;
}
h1 {
 text-overflow: initial;
 position: relative;
 text-align: justify;
 top: 50%;
 text-transform: uppercase;
 font-family: "Space-mono" monospace;
 font-weight: 700;
 font-style: italic;
 letter-spacing: 4px;
}
.photo-right {
 color: #f3940f;
 text-align: center;
}

.photo-left {
 color:bisque;
 text-align: center;
}
header, h1 {
 padding-top: 30px;
 text-align: center;
 font-family: "Space Mono", monospace;
 font-weight: 400;

}
p {
 padding-top: 15px;
 font-size: 18px;
}
#scroll-right{
  text-align: left;
  top: 45px;
  padding-left: 5px;
  position: relative;
}

/*scrollable-images*/

.scrollable-images {
 display: flex;
 position: relative;
 overflow-x: auto;
 width: 100%;
 white-space: nowrap;
 scroll-behavior: smooth;
 padding-top: 50px;
}
.image-section {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}

.image-section img {
  height: 450px; 
  margin: 10px;
  flex-shrink: 0; 
  object-fit: cover;
  border-radius: 4px;
}

/*Top destination section*/

.destinations {
   text-decoration: none;
   font-family: "Space Mono", monospace;
}
 h2 {
  margin-top: 30px;
  font-family: "Space Mono", monospace;
  padding-bottom: 25px;
  padding-left: 10px;
  text-align: center;
}
ul h3 {
  text-align: center;
}
.destinations ul {
  font-size: 20px;
  padding: 25px 0px;
}
/*Bishkek-section*/

.bishkek-city {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bishkek-city img {
  width: 300px;
  height: 300px;
  padding: 10px;
  margin-left: 10px;
  object-fit: cover;
  color: bisque;
  background-color: rgb(228, 220, 209);
  
}
.bishkek-li {
  padding: 15px 10px;
  margin-top: 15px;
}
.bishkek-p {
  padding: 10px;
  background-color: white;
  text-align: center;
  
}

  .bishkek-p button{
    display: inline-block; 
    margin-top: 15px; 
    padding: 10px 15px; 
    font-size: 16px; 
    cursor: pointer;
    background-color: rgb(192, 186, 186);
    color: white;
    border: none;
    border-radius: 4px;
    position: relative;
    text-align: center;
  }
  .bishkek-button:hover {
    content: pointer;
    color: #3577E3;
  }
  /*Issyk-kul-section*/

  .issyk-kul {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .issyk-kul img {
    width: 300px;
    height: 300px;
    padding: 10px;
    margin-left: 10px;
    object-fit: cover;
    color: bisque;
    background-color: rgb(228, 220, 209);
  }
  .issyk-kul-li {
    padding: 15px 10px;
    margin-top: 15px;
    
  }
  .issyk-kul-p {
   padding: 10px;
   background-color: white;
   text-align: center;
  }
  .issyk-kul-p button {
    display: inline-block; 
    margin-top: 15px; 
    padding: 10px 15px; 
    font-size: 16px; 
    cursor: pointer;
    background-color: rgb(192, 186, 186);
    color: white;
    border: none;
    border-radius: 4px;
    position: relative;
    text-align: center;
  }
  button:hover {
    content: pointer;
    color: #3577E3
  }
  p h4 {
    position: relative;
  }
  .issyk-kul-button {
    display: inline-block; 
    margin-top: 15px; 
    padding: 20px 20px; 
    font-size: 16px; 
    cursor: pointer;
    background-color: rgb(192, 186, 186);
    color: white;
    border: none;
    border-radius: 4px;
    position: relative;
    height: 40px;
    top: 55%;
    right: 615px;
  }
  .issyk-kul-button:hover {
    content: pointer;
    color: #3577E3;
  }
  .highlights-section{
    text-align: center;
    position: relative;
  }
  }
  .highlights-section ul {
    padding-left: 20%;
    position: relative;
  }
  .link {
    text-transform: none;
  }

/*Ala-archa-section*/

.ala-archa {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ala-archa img {
  width: 300px;
    height: 300px;
    padding: 10px;
    margin-left: 10px;
    object-fit: cover;  
    color: bisque;
    background-color: rgb(228, 220, 209);
}
.ala-archa-li {
  padding: 15px 10px;
  text-align: center;
  margin-top: 35px;
}
.ala-archa-p{
  padding: 10px;
   background-color: white;
   text-align: center;
}
.ala-archa-p button {
  display: inline-block; 
    margin-top: 15px; 
    padding: 10px 15px; 
    font-size: 16px; 
    cursor: pointer;
    background-color: rgb(192, 186, 186);
    color: white;
    border: none;
    border-radius: 4px;
    position: relative;
    text-align: center;
}
  
