* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
 height: 100%;
 width: 100%;
 overflow-x: hidden;
}
/*navigation-bar-section*/

.navigation {
  font-family: "Fjalla One", sans-serif;
  font-weight: regular;
  font-size: 21px;
  text-decoration: none;
  margin: 0;
  padding: 19px;
  background-color: rgb(68, 149, 196);
  color: whitesmoke;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  top: 0; 
  z-index: 1000; 
}
.navigation ul {
  list-style-type: none;
  display: flex;
  padding: 20;
  justify-content: space-between;
  align-items: center;
}
.navigation li {
  padding-right: 19px;
}
.navigation li a {
  text-decoration: none;
}
.navigation .left {
  display: flex;
  justify-content: space-between;
}
.navigation .right {
  display: flex;
  justify-content: flex-end;
}
.navigation ul li:hover {
  content: pointer;
  align-items: center;
  color: #49e085;
}
.kg {
  font-size: 26px;
}

/*banner-section*/

.image-banner {  
  width: 100%;
  display: flex;
}
.photo-yurt .photo-mountain {
 flex: 1;
 background-position: center center;
}
.photo-yurt {
 background-image: url(resources/images/IMG_3667.JPG);
 height: 1000px;
 width: 100%;
 background-size: 100%;
 background-repeat: no-repeat;

}
.photo-mountain {
 background-image: url(resources/images/IMG_3690.JPG);
 height: 1000px;
 width: 100%;
 background-size: 100%;
 background-repeat: no-repeat;
}
h1 {
 text-overflow: initial;
 position: relative;
 text-align: justify;
 top: 50%;
 text-transform: uppercase;
 font-family: "Space-mono" monospace;
 font-weight: 700;
 font-style: italic;
 letter-spacing: 4px;
}
.photo-right {
 color: #d27a00;
 text-align: center;
 font-weight: bolder;
  font-size: 36x;
}

.photo-left {
 color:bisque;
 text-align: center;
 font-weight: bolder;
 font-size: 35px;
}
header, h1 {
 padding-top: 30px;
 text-align: center;
 font-family: "Space Mono", monospace;
 font-weight: 400;

}
h1 .intro {
  letter-spacing: 5px;
  line-height: 4;
}
p {
 padding-top: 15px;
 font-size: 18px;
}
#scroll-right{
  text-align: left;
  top: 45px;
  padding-left: 5px;
  position: relative;
}

/*scrollable-images*/

.scrollable-images {
 display: flex;
 position: relative;
 overflow-x: auto;
 width: 100%;
 white-space: nowrap;
 scroll-behavior: smooth;
 padding-top: 50px;
}
.image-section {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}

.image-section img {
  height: 450px; 
  margin: 10px;
  flex-shrink: 0; 
  object-fit: cover;
  border-radius: 4px;
}

/*Top destination section*/

.destinations {
   text-decoration: none;
   font-family: "Space Mono", monospace;
}
 h2 {
  margin-top: 30px;
  font-family: "Space Mono", monospace;
  padding-bottom: 25px;
  padding-left: 10px;
  text-align: center;
}
ul h3 {
  text-align: center;
}
.destinations ul {
  font-size: 20px;
  padding: 25px 0px;
}
/*Bishkek-section*/

.bishkek-city {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bishkek-city img {
  width: 350px;
  height: 350px;
  padding: 10px;
  margin-left: 10px;
  object-fit: cover;
  border-image: 5px;
  background-color: rgb(214, 248, 248);
  
}
.bishkek-li {
  padding: 30px 10px;
  margin-top: 15px;
}
.bishkek-p {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 70px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: dotted 2px rgb(14, 187, 187);
  border-top: dotted 2px rgb(14, 187, 187);
  border-left: dotted 2px rgb(14, 187, 187);
  border-right: dotted 2px rgb(14, 187, 187);
  border-style: outset;
  font-style: oblique;
  font-size: 25px;
  font-weight: 500;
}
.highlights-section-bishkek {
    position: relative;
    box-sizing: border-box;
    background-color: rgb(214, 248, 248);
    padding: 25px;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
}
.highlights-section-bishkek {
  text-align: left;
}
.highlights-section-bishkek h4 {
  text-align: center;
}
.highlights-section-bishkek ul {
  position: relative;
  padding-left: 20%;
}
.highlights-section-bishkek li {
  padding-top: 10px;
  font-size: 23px;
}
  .highlights-section-bishkek button{
    display: inline-block;  
    padding: 15px; 
    font-size: 15px;
    cursor: pointer;
    background-color: greenyellow;
    color: black;
    border: none;
    border-radius: 4px;
    position: relative;
    height: 40px;
  }
  .bishkek-button:hover {
    content: pointer;
    color: #3577E3;
  }

  /*Issyk-kul-section*/

  .issyk-kul {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .issyk-kul img {
    width: 350px;
    height: 350px;
    padding: 10px;
    margin-left: 10px;
    object-fit: cover;
    border-image: 5px;
    background-color: rgb(214, 248, 248);
  }
  .issyk-kul-li {
    padding: 30px 10px;
    margin-top: 15px;
    font-size:  23px;
    font-family: "Space Mono", monospace;
    text-align: center  ;
  }
  .issyk-kul-p {
   text-align: center;
   margin-top: 35px;
   margin-bottom: 70px;
   padding-bottom: 15px;
   padding-right: 10px;
   padding-left: 10px;
   border-bottom: dotted 2px rgb(14, 187, 187);
   border-top: dotted 2px rgb(14, 187, 187);
   border-left: dotted 2px rgb(14, 187, 187);
   border-right: dotted 2px rgb(14, 187, 187);
   border-style: outset;
   font-family: "Space Mono", monospace;
   font-style: oblique;
   font-size: 25px;
   font-weight: 500;
  }
 
  button:hover {
    content: pointer;
    color: #3577E3
  }
 
  .highlights-section-issyk-kul button {
    display: inline-block;  
    padding: 15px; 
    font-size: 15px; 
    cursor: pointer;
    background-color: greenyellow;
    color: black;
    border: none;
    border-radius: 4px;
    position: relative;
    height: 40px;
  }
  .highlights-section-issyk-kul button:hover {
    content: pointer;
    color: #3577E3;
  }
  .highlights-section-issyk-kul{
    position: relative;
    box-sizing: border-box;
    background-color: rgb(214, 248, 248);
    font-family: "Space Mono", monospace;
    padding: 25px;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
  }
  .highlights-section-issyk-kul h4 {
    text-align: center;
    font-size: 23px;
  }
  
  .highlights-section-issyk-kul ul {
    position: relative;
    padding-left: 20%;
  }
  .highlights-section-issyk-kul li {
    padding-top: 10px;
    font-size: 23px;
  }
  .link {
    text-transform: none;
  }

/*Ala-archa-section*/

.ala-archa {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ala-archa img {
  width: 350px;
  height: 350px;
  padding: 10px;
  margin-left: 10px;
  object-fit: cover;
  border-image: 5px;
  background-color: rgb(214, 248, 248);
}
.ala-archa-li {
  padding: 30px 10px;
  margin-top: 15px;
  font-size:  23px;
  font-family: "Space Mono", monospace;
  text-align: center;
}
.ala-archa-p{
 text-align: center;
 margin-top: 35px;
 margin-bottom: 70px;
 padding-bottom: 15px;
 padding-right: 10px;
 padding-left: 10px;
 border-bottom: dotted 2px rgb(14, 187, 187);
 border-top: dotted 2px rgb(14, 187, 187);
 border-left: dotted 2px rgb(14, 187, 187);
 border-right: dotted 2px rgb(14, 187, 187);
 border-style: outset;
 font-family: "Space Mono", monospace;
 font-style: oblique;
 font-size: 25px;
 font-weight: 500;
}
.highlights-section-alaarcha {
 position: relative;
 text-align: left;
 box-sizing: border-box;
 background-color: rgb(214, 248, 248);
 font-family: "Space Mono", monospace;
 padding: 25px;
 margin-top: 20px;
 margin-left: 60px;
 margin-right: 60px;
}
.highlights-section-alaarcha h4 {
  text-align: center;
  position: relative;
  font-size: 23px;
  padding-bottom: 20px;
}
.highlights-section-alaarcha ul {
  position: relative;
  padding-left: 20%;
}
.highlights-section-alaarcha li {
  padding-top: 10px;
  font-size: 23px;
}
.highlights-section-alaarcha button {
  display: inline-block;  
  padding: 15px; 
  font-size: 15px;
  cursor: pointer;
  background-color: greenyellow;
  color: black;
  border: none;
  border-radius: 4px;
  position: relative;
  height: 40px;
}
.ala-archa-button:hover {
  content: pointer;
  color: #3577E3;
}

/*Song-kul-section*/

.song-kul {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.song-kul img {
  width: 350px;
  height: 350px;
  padding: 10px;
  margin-left: 10px;
  object-fit: cover;
  border-image: 5px;
  background-color: rgb(214, 248, 248);
}
.song-kul-li {
  padding: 30px 10px;
  margin-top: 15px;
  font-size:  23px;
  font-family: "Space Mono", monospace;
  text-align: center;
}
.song-kul-p {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 70px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: dotted 2px rgb(14, 187, 187);
  border-top: dotted 2px rgb(14, 187, 187);
  border-left: dotted 2px rgb(14, 187, 187);
  border-right: dotted 2px rgb(14, 187, 187);
  border-style: outset;
  font-family: "Space Mono", monospace;
  font-style: oblique;
  font-size: 25px;
  font-weight: 500;
}
.highlights-song-kul {
  position: relative;
  text-align: left;
  box-sizing: border-box;
  background-color: rgb(214, 248, 248);
  font-family: "Space Mono", monospace;
  padding: 25px;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
}
.highlights-song-kul h4 {
  text-align: center;
  position: relative;
  font-size: 23px;
  padding-bottom: 20px;
}
.highlights-section-issyk-kul h4 {
  position: relative;
  padding-left: 20%;
}
.highlights-song-kul ul {
  position: relative;
  padding-left: 20%;
}
.highlights-song-kul li {
  padding-top: 10px;
  font-size: 23px;
}
.highlights-song-kul button {
  display: inline-block;  
  padding: 15px; 
  font-size: 15px;
  cursor: pointer;
  background-color: greenyellow;
  color: black;
  border: none;
  border-radius: 4px;
  position: relative;
  height: 40px;
}
.highlights-song-kul button:hover {
  content: pointer;
  color: #3577E3;
}

/*footer-section*/
footer {
  background-color: rgb(68, 149, 196);
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  margin-top: 25px;
  font-family: "Space Mono", monospace;
  font-size: 20px;
}
.copyright{
  padding-right: 20px;
}
.footer-left {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 16px;
  bottom: 40%;
  
}
  
