* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }
   html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
   }
   /*navigation-bar-section*/
   
   .navigation {
     font-family: Arial, sans-serif;
     font-size: 20px;
     margin: 0;
     padding: 18px;
     background-color: #333;
     color: white;
     width: 100%;
     position: absolute;
     justify-content: space-between;
     align-items: center;
     box-sizing: border-box;
   }
   .navigation ul {
     list-style-type: none;
     display: flex;
     padding: 20;
     justify-content: space-between;
     align-items: center;
   }
   .navigation li {
     padding-right: 17px;
   }
   
   .navigation .left {
     display: flex;
     justify-content: space-between;
   }
   .navigation .right {
     display: flex;
     justify-content: flex-end;
   }
   .navigation ul li:hover {
     content: pointer;
     align-items: center;
     color: #3577E3;
   }
   .kg {
     font-size: 25px;
   }
   
   /*banner-section*/

   .image-banner {  
     width: 100%;
     display: flex;
   }
   .photo-yurt .photo-mountain {
    flex: 1;
    background-position: center center;
   }
   .photo-yurt {
    background-image: url(resources/images/IMG_3667.JPG);
    height: 1000px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
  
   }
   .photo-mountain {
    background-image: url(resources/images/IMG_3690.JPG);
    height: 1000px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
   }
   h1 {
    text-overflow: initial;
    position: relative;
    text-align:justify;
    top: 50%;
    text-transform: uppercase;
    font-family: "Titan One", sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
  }
  .photo-right {
    color: #f3940f;
    text-align: center;
  }

  .photo-left {
    color:bisque;
    text-align: center;
  }
  
